extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='#') #{title}
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | Home
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') About
                li.nav-item
                    a.nav-link(href='/register') Register

    h1 Jumppack an all in one gaming platform.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac lorem gravida, tempus augue id, malesuada tellus. Aenean in nisl id magna hendrerit imperdiet. Sed tincidunt porta dignissim. Phasellus turpis quam, accumsan ut tempus at, varius at dolor. Nulla porttitor et nisi id luctus. Phasellus finibus turpis arcu, ut viverra libero molestie eu. Nulla lacinia rutrum lacinia. Curabitur tempus justo vulputate orci facilisis interdum. Suspendisse finibus suscipit felis ac tempus. Vestibulum sit amet sapien pulvinar purus accumsan consequat eu eget lorem. Proin at est sed dolor laoreet hendrerit id ut odio. Quisque ornare quis eros ac luctus. Donec vel porta est.
