extends layout

block content

    form
    .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .form-group
        label(for='inputUsername') Username
        input#username.form-control(type='text', placeholder='Username')
    .form-group
        label(for='exampleInputPassword1') Password
        input#password.form-control(type='password', placeholder='Password')
    .form-group
        label(for='exampleInputPassword2') Repeat Password
        input#repeat.form-control(type='password', placeholder='Password')
    script(src="/javascripts/register.js")
    button.btn.btn-primary(onclick="registration()", type='submit') Register
