body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-align: center;
}

nav ul li {
  display: flex;
  float: left;
  margin: 5px;
  background: #00cccc;
   border-radius: 20px 20px 20px 20px;
}

#error {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: red;
}
